<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TurtleBot Imagens</title>
    <link rel="stylesheet" href="frontend/static/estilo.css">
    <script>

    </script>
</head>
<body>
    <div className="titulo">
        <h1>TurtleBot Teleoperado com Imagens</h1>
    </div>
    <div className="video">
        <!-- Importar streaming de imagem aqui -->
    </div>
    <div className="status">
        <p>Latência: </p> <!-- valor de latência-->
        <p></p>
    </div>
    <div className="botoes-movimentacao"> 
        <!-- Botão seta direita -->
        <!-- Botão seta baixo -->
        <!-- Botão seta esquerda -->
        <!-- Botão seta cima -->
    </div>
</body>
</html>
